.FinList {
  text-align: center;
}

.FinList-logo {
  height: 40vmin;
  /* pointer-events: none; */
}

.FinList-head {
min-height: 20vh;
background-color: red;
}

.FinList-main {
  background-color: white;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: #354fab; */
}

.title {
  color: #354fab;
}

.slogan {
  color: #45147e
}

.slogan2 {
  color: #345fab
}

.button {
color: #45173e
}